.pick img{
height: 100%;
width: 80%;
padding-left: 200px;
}
.pick h2{
    text-align: center;
    padding-top: 30px;
    color: #222;
}
.div img{
height: 100%;
width: 80%;
padding-left: 200px;
}
.div h2{
    text-align: center;
    padding-top: 30px;
    color: #222;
}
.spark img{
    height: 100%;
width: 80%;
padding-left: 200px;
}
.spark h2{
    text-align: center;
    padding-top: 30px;
    color: #222;
}